.MainList{
    min-width: 310px;
    min-height: 630px;
    width: 70vw;
    background-color: #ffffff;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: flex-start;


}

.season_text{
    display: block;
    width: 100%;
    font-size: 30px;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin:10px 30px;
    
}