.EpisodeItemWrapper {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.EpisodeItem{
    width: 300px;
    min-height: 100px;
    height: 350px;
    background-color: rgb(240, 212, 240);
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.EpisodeItem__text{
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
}

/* .EpisodeItem__pic{
    width: 100px;
    height: 100px;
    background-color: rgb(177, 177, 177);
    border-radius: 50px;    
} */

.EpisodeItem__number{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    
}

/* .EpisodeItem__description{
    margin-top: 5px;
    padding: 0 20px;
    text-align: left;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;

} */

.EpisodeItem__date{
    margin-bottom: 5px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;

}